<a href="https://colab.research.google.com/github/TasmiyaSabha/TasmiyaSabha/blob/python/pyex3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
#1. Write a program to take three names as input from a user in the single input() function call. 
i1=input("Enter first prsn name:")
i2=input("Enter second prsn name:")
i3=input("Enter third prsn name:")
def my_function():

  print(i1,i2,i3)

my_function()

Enter first prsn name:Tia
Enter second prsn name:Ria
Enter third prsn name:Dia
Tia Ria Dia

In [7]:
#2. Write a program to print the following number pattern using a loop. 

r=int(input("enter no of rows="))
for i in range(r):
    for j in range(i+1):
      print(j+1,end=" ")
    print("\n")

enter no of rows=5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [10]:
#3. Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number 

n=int(input("Enter a number="))
sum=0
for i in range(n+1):
  sum=sum+i
print(sum)

Enter a number=5
15

In [13]:
#4. Print list in reverse order using a loop 

n=10
while n>0:
  
  n-=1
  print(n)

9
8
7
6
5
4
3
2
1
0

In [36]:
#5. Write a program to display all prime numbers within a range

n=int(input("Enter the lower range="))
m=int(input("Enter the upper range="))
for num in range(n,m+1):
  if num>1:
    for i in range(2,num):
      if (num % i) == 0:
        break
      print(num)

Enter the lower range=1
Enter the upper range=10
3
5
5
5
7
7
7
7
7
9

In [24]:
#6. Find the factorial of a given number without math module 
num=int(input("Enter the number="))
factorial=1
if num < 0:
   print("factorial does not exist")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print(factorial)

Enter the number=5
120

In [42]:
#7. Print the following pattern 
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")
for i in range(rows, 0, -1):
    for j in range(0, i):
        print("* ", end=" ")
    
    print("\n")

Enter number of rows: 5
*

* *

* * *

* * * *

* * * * *

*  *  *  *  *

*  *  *  *

*  *  *

*  *

*