<a href="https://colab.research.google.com/github/TasmiyaSabha/TasmiyaSabha/blob/python/pyworking2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import datetime

**Creating a table**

In [10]:
py_students=['Ariba','Pia','Siya','Zuhan']

In [8]:
py_scores=[67,98,45,78]

In [11]:
py_er=pd.DataFrame(
    {
        'Name':py_students,
        'Marks':py_scores
    }
)
py_er

    Name  Marks
0  Ariba     67
1    Pia     98
2   Siya     45
3  Zuhan     78

In [12]:
py_er.loc[:'Marks']

    Name  Marks
0  Ariba     67
1    Pia     98
2   Siya     45
3  Zuhan     78

In [14]:
py_er.loc[2:'Marks']

    Name  Marks
2   Siya     45
3  Zuhan     78

In [16]:
py_er['Marks']

0    67
1    98
2    45
3    78
Name: Marks, dtype: int64

In [17]:
py_er.loc[2,:]

Name     Siya
Marks      45
Name: 2, dtype: object

**Adding Columns**

In [18]:
Gender=['F','F','F','M']
py_er['Gender']=Gender
py_er

    Name  Marks Gender
0  Ariba     67      F
1    Pia     98      F
2   Siya     45      F
3  Zuhan     78      M

In [22]:
py_er['Gender']

0    F
1    F
2    F
3    M
Name: Gender, dtype: object

**Removing columns**

In [26]:
py_er.drop('Marks',axis=1)

    Name Gender
0  Ariba      F
1    Pia      F
2   Siya      F
3  Zuhan      M

In [28]:
py_er.columns

Index(['Name', 'Marks', 'Gender'], dtype='object')

In [29]:
py_er.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Marks   4 non-null      int64
 2   Gender  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [30]:
py_er.describe()

           Marks
count   4.000000
mean   72.000000
std    22.105806
min    45.000000
25%    61.500000
50%    72.500000
75%    83.000000
max    98.000000

**Renaming**

In [32]:
py_er.rename({'Name':'First_name'},axis=1)

  First_name  Marks Gender
0      Ariba     67      F
1        Pia     98      F
2       Siya     45      F
3      Zuhan     78      M

**Dealing with Missing values**

In [36]:
miss_v=pd.DataFrame(
    {
        'x':[5,6,7],
     'y':[np.nan,np.nan,8],
     'z':[9,10,np.nan]
    }
)
miss_v

   x    y     z
0  5  NaN   9.0
1  6  NaN  10.0
2  7  8.0   NaN

In [34]:
miss_v.isna()

       x      y      z
0  False   True  False
1  False   True  False
2  False  False   True

In [37]:
miss_v.fillna(0)

   x    y     z
0  5  0.0   9.0
1  6  0.0  10.0
2  7  8.0   0.0

In [39]:
miss_v.dropna(axis=1)

   x
0  5
1  6
2  7

**Using group by**

In [40]:
py_er.groupby('Gender').mean()

        Marks
Gender
F        70.0
M        78.0

In [44]:
mylist=[1,8,3,2]
py_er.groupby(mylist).get_group(8)

  Name  Marks Gender
1  Pia     98      F

In [50]:
#Marks scored greater than 90
goodmarks=py_er['Marks']>50
goodmarks

0     True
1     True
2    False
3     True
Name: Marks, dtype: bool

In [52]:
#Mean scores of students who scored above 80
py_er.groupby(goodmarks).mean()

       Marks
Marks
False   45.0
True    81.0

**Merging and Joining**

In [54]:
merg=pd.DataFrame(
    {
        'Name':['Ariba'],
        'ph.no':['+91 9876543222']
    }
)
merg

    Name           ph.no
0  Ariba  +91 9876543222

In [55]:
py_er.merge(merg,left_on='Name',right_on='Name')

    Name  Marks Gender           ph.no
0  Ariba     67      F  +91 9876543222

In [56]:
py_er.merge(merg,left_on='Name',right_on='Name',how='outer')

    Name  Marks Gender           ph.no
0  Ariba     67      F  +91 9876543222
1    Pia     98      F             NaN
2   Siya     45      F             NaN
3  Zuhan     78      M             NaN